.section {
  position: relative;

  width: 1450px;
  min-width: 1450px;
  height: 100%;

  background:
    radial-gradient(
      circle at 60% 48%,
      rgba(255, 255, 255, 0.055),
      transparent 35%
    );
}

.identityCard {
  top: 11%;
  left: 60px;

  width: 640px;
  height: 47%;

  transform: rotate(-14deg);
}

.logoCard {
  right: 15px;
  bottom: 0;

  width: 670px;
  height: 46%;

  background: #eeeeee;

  transform: rotate(-13deg);
}

.ideas {
  top: 18%;
  right: 120px;

  transform: rotate(-7deg);
}

.vision {
  bottom: 9%;
  left: 140px;

  transform: rotate(-4deg);
}

@media (max-width: 767px) {
  .section {
    width: 1100px;
    min-width: 1100px;
  }
}